<div class="page-container">
  <div class="page-header">
      <a  [routerLink]="['/home']" class="col path-label">{{ servicesCatalog | translate }}</a>
      <a href="sellings" class="col path-label">{{ selling | translate }}</a>
      <div class="col"></div>
      <div class="col page-title">{{ selling | translate }}</div>
      <div class="col"></div>
      <app-dropdown [optionItems]="sortOptions" class="col sort-dropdown"></app-dropdown>
  </div>

    <div class="image-container">
        <img  *ngFor="let project of topBarProjects; let i = index" 
        [src]="project.photosUrls[0].url" class="image-container-img" />      
    </div>

  <div class="row">
    <div class="col-md-3">

      <div class="filters">
        <h2>Filters</h2>
        <h3>Services</h3>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="checkbox1">
          <label class="form-check-label" for="checkbox1">Agency</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="checkbox1">
          <label class="form-check-label" for="checkbox1">Owner</label>
        </div>
        <h3>Type</h3>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="checkbox2">
          <label class="form-check-label" for="checkbox2">House</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="checkbox2">
          <label class="form-check-label" for="checkbox2">Apartment</label>
        </div>
        <h3>Number of rooms</h3>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="checkbox2">
          <label class="form-check-label" for="checkbox2">One</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="checkbox2">
          <label class="form-check-label" for="checkbox2">Two</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="checkbox2">
          <label class="form-check-label" for="checkbox2">Three</label>
        </div>
      </div>

    </div>
    <div class="col-md-9 mb-4">
      <div class="row row-something">

          <div *ngFor="let project of currentProjects; let i = index" class="card">
            <div class="card-info-wrapper">
              <div class="like-button"></div>
            </div>
            <div class="img-container">
              <img [src]="project.photosUrls[0].url" class="project-img">
            </div>
            <div class="card-bottom-info">
              <div class="price-info">{{ project.price }} UAH</div>
            </div>
          </div>

      </div>
    </div>
  </div>
    
  

</div>