.like-btn {
    background-image: url('../../../../assets/img/like-icon.svg');
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
}

.liked-like-btn {
    background-image: url('../../../../assets/img/liked-like.svg');
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
}